#跳过具有如下标签的文件件与文件
*wmtag_memo_git_do_not_commit_this*
*wmtag_memo_git_do_not_commit_this*/
# 跳过所有的8042开头的临时文件夹
/*8042*wmtemp*/
*8042*wmtemp*/

#这里是短格式
#跳过具有如下标签的文件夹与文件
*wmgitignore*
*wmgitignore*/

### git commit 保存 VS Code 文件夹等 ###
!.vscode/
!.vscode

# 一定要保留go mod的定义文件
!go.mod

# 一定要保留go work的定义文件
!go.work

#这里是go build等输出的可执行文件的特征值
*wmbin_go_out*
*wmbin_go_out*/

#这里是各种build等输出的可执行文件的特征值
*wmbin_out*
*wmbin_out*/


# ================================================

*.o
*.lo
*.a
*.so

# ================================================

ch03/copy_block
ch03/copy_stdio
ch03/copy_system
ch03/mmap
ch03/printdir
ch03/printdir2
ch03/simple_read
ch03/simple_write
ch04/argopt
ch04/args
ch04/ctime
ch04/environ
ch04/envtime
ch04/gmtime
ch04/hostget
ch04/limits
ch04/logmask
ch04/longopt
ch04/showenv
ch04/strftime
ch04/syslog
ch04/tmpnam
ch04/user
ch05/badterm
ch05/kbhit
ch05/menu1
ch05/menu2
ch05/menu3
ch05/menu4
ch05/menu5
ch05/password
ch05/sizeterm
ch06/color
ch06/ipmode
ch06/keypad
ch06/moveadd
ch06/multiw1
ch06/pad
ch06/screen1
ch06/subscl
ch07/dbm1
ch07/dbm2
ch07/lock1
ch07/lock2
ch07/lock3
ch07/lock4
ch07/lock5
ch07/memory1
ch07/memory2
ch07/memory3
ch07/memory4
ch07/memory5a
ch07/memory5b
ch07/memory6
ch08/connect1
ch08/connect2
ch08/insert1
ch08/insert2
ch08/select1
ch08/select2
ch08/select3
ch08/select4
ch08/update1
ch09/2.o
ch09/3.o
ch09/main.o
ch09/myapp
ch09/mylib.a
ch10/assert
ch10/assert.o
ch10/checker
ch10/cinfo
ch10/cinfo.o
ch10/debug1
ch10/debug2
ch10/debug3
ch10/debug4
ch10/efence
ch10/efence.o
ch11/alarm
ch11/ctrlc1
ch11/ctrlc2
ch11/fork1
ch11/fork2
ch11/pexec
ch11/system1
ch11/system2
ch11/upper
ch11/useupper
ch11/wait
ch12/thread1
ch12/thread2
ch12/thread3
ch12/thread3a
ch12/thread4
ch12/thread5
ch12/thread6
ch12/thread6a
ch12/thread7
ch12/thread8
ch12/thread8a
ch13/client
ch13/client.o
ch13/fifo1
ch13/fifo2
ch13/fifo3
ch13/fifo4
ch13/pipe1
ch13/pipe2
ch13/pipe3
ch13/pipe4
ch13/pipe5
ch13/popen1
ch13/popen2
ch13/popen3
ch13/popen4
ch13/server
ch13/server.o
ch14/msg1
ch14/msg2
ch14/sem1
ch14/shm1
ch14/shm2
ch15/client1
ch15/client2
ch15/client3
ch15/getdate
ch15/getdate-udp
ch15/getname
ch15/select
ch15/server1
ch15/server2
ch15/server3
ch15/server4
ch15/server5
# ================================================
ch06/app/curses_app
ch06/chinese
ch07/app/application
ch08/app/app
ch13/app/client
ch13/app/server
ch14/app/client
ch14/app/server
# ================================================
.aider*
.envrc
